.menu {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: white;
    margin-top: 0;
}

#campus_life p {
    font-size: 20px;
    color: red;
    background-color: cyan;
}

h4 {
    font-size: 40px;
}

#1 {
    font-size: 15px;
    width: 350;
}

.image {
    height: 300px;
}
