.menu {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: white;
    margin-top: 0;
}

#campus_life p {
    font-size: 20px;
    color: red;
    background-color: cyan;
}

h4 {
    font-size: 40px;
}

#1 {
    font-size: 15px;
    width: 350;
}
#campus_life img{
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto auto;
}
.ach_head i{
    float: right;
}
.ach_head{
    padding: 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
#Contactus{
    width: 100%;
    text-align: center;
}
